*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
assets/replay_videos_mp4/*.mp4 -filter -diff -merge -text
assets/guohui/*.mp4 -filter -diff -merge -text
assets/xini/*.mp4 -filter -diff -merge -text
assets/doushouchang/*.mp4 -filter -diff -merge -text
assets/lanbo/*.mp4 -filter -diff -merge -text
assets/taijiling/*.mp4 -filter -diff -merge -text
assets/zhonglou/*.mp4 -filter -diff -merge -text
assets/jinzita/*.mp4 -filter -diff -merge -text
